<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ config.title }}</title>
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta
    name="license"
    content="https://creativecommons.org/licenses/by-sa/4.0/"
  />
  <link rel="preload" href="{{ get_url(path='main.css') | safe }}" as="style"/> 
  <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">
  <meta name="color-scheme" content="light dark" />
</head>
