<!doctype html>
<html>
  {% include "partials/head.html" %}
  <body>
    {% include "partials/header.html" %}
    <main>
      {% block content %}{% endblock content %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
